:root {
  --bg-header-footer: #2c3e50;
  --bg-start-about: #1abc9c;
}

/* ! GENERICS */
h1,
h2,
h4,
h6 {
  font-weight: 700;
}

/* ! DEBUG */

.bordered {
  border: 2px dashed red;
}

/* ! HEADER */

#header {
  background-color: var(--bg-header-footer);
}

/* ! NAVBAR */

/* * MAIN */

/* ! START SECTION */

#start {
  background-color: var(--bg-start-about);
  color: white;
}

#start img {
  max-width: 200px;
}

h1 {
  font-weight: 700;
}

#start ul {
  list-style: none;
}

.h-row {
  background-color: white;
  height: 2px;
  width: 10%;
}

/* ! PORTFOLIO SECTION */

.dark {
  background-color: rgb(0, 0, 0);
}

/* ! ABOUT SECTION */

#about {
  background-color: var(--bg-start-about);
  color: white;
}

/* ! CONTACT ME SECTION */

/* ! FOOTER */

#footer {
  color: white;
  background-color: var(--bg-header-footer);
}

.icon-circle {
  border: 1px solid white;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  line-height: 35px;
}

.text-small {
  font-size: 0.8rem;
}
