:root {
  --bg-header: #2c3e50;
  --bg-start: #1abc9c;
}

/* ! DEBUG */

.bordered {
  border: 2px dashed red;
}

/* ! HEADER */

#header {
  height: 100px;
  background-color: var(--bg-header);
}

/* * MAIN */

/* ! START SECTION */

#start {
  background-color: var(--bg-start);
}

/* ! PORTFOLIO SECTION */
